In [35]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.3.2'

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [15]:
df.shape
#df.info()

(9704, 11)

In [16]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [20]:
df.isna().sum() > 0

engine_displacement    False
num_cylinders           True
horsepower              True
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

In [26]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

In [27]:
hp_median = df['horsepower'].median()
hp_mode = df['horsepower'].mode()[0]
df['horsepower'].fillna(hp_mode, inplace=True) 
hp_median_imputed = df['horsepower'].median()
{'hp_median': hp_median, 'hp_median_imputed': hp_median_imputed}

/tmp/ipykernel_5482/3304100184.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(hp_mode, inplace=True)

{'hp_median': 149.0, 'hp_median_imputed': 152.0}

In [36]:
x = np.array(df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']][0:7])

In [47]:
XTX = (x.T).dot(x)

In [54]:
XTX_i = np.linalg.inv(XTX)

In [41]:
y =np.array( [1100, 1300, 800, 900, 1000, 1100, 1200])

In [56]:
w = XTX_i.dot(x.T).dot(y)

In [57]:
w.sum()

np.float64(0.5187709081074002)